.boton, .boton-card {
  margin-left: 130.6px;
  margin-right: 141.6px;
  align-items: center; }

.card_subtitulo {
  margin: 6px;
  color: #f0f0f0;
  font-size: 20px;
  text-align: center; }

.card {
  background-color: #163379;
  width: 400px;
  height: 500px;
  margin: 12px;
  transition: all ease 0.2s; }
  .card:hover {
    transform: scale(1.05);
    border-top: solid 8px #142664;
    border-right: solid 8px #142664; }

.card_imagen {
  display: flex;
  width: 350px;
  height: 250px;
  margin: 0 auto;
  margin-top: 15px;
  justify-content: center; }

.card_parrafo {
  color: #f0f0f0;
  text-align: center; }

.card_02 {
  background-color: #163379;
  width: 400px;
  height: 500px;
  margin: 12px;
  transition: all ease 0.2s; }
  .card_02:hover {
    transform: scale(1.05);
    border-top: solid 8px #142664;
    border-right: solid 8px #142664; }

.card-companias {
  background-color: #163379;
  width: 425px;
  height: 300px;
  margin: 12px;
  transition: all ease 0.2s; }
  .card-companias:hover {
    transform: scale(1.05);
    border-top: solid 8px #142664;
    border-right: solid 8px #142664; }
  .card-companias img {
    display: flex;
    height: 163px;
    width: 294px;
    margin: 0 auto;
    margin-top: 15px;
    justify-content: center; }
  .card-companias p {
    color: #f0f0f0;
    font-size: 17px;
    text-align: center; }

.imagen-logo-menu {
  display: flex;
  margin-top: 3px;
  margin-bottom: 3px; }

.tarjeta-winkler {
  width: 100%;
  height: auto; }

.imagen-logo {
  display: flex;
  width: 100%;
  height: auto; }

.foto-frente {
  margin-left: 30px;
  width: 700px;
  height: 453px; }
  .foto-frente img {
    width: 550px;
    height: 300px;
    margin: 10px;
    margin-left: 70px; }

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center; }

h3 {
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center; }

h4 {
  text-align: center;
  margin-bottom: 10px; }

h5 {
  text-align: center; }

h6 {
  margin-top: 30px;
  text-align: center; }

/* home */
body {
  background-color: #f0f0f0; }

.encabezado {
  display: flex; }

.logo-lista-navegacion {
  display: flex;
  align-items: flex-start; }

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr); }

@media screen and (max-width: 1358px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); } }

@media screen and (max-width: 910px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr); } }

/* seccion01 */
#polizas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr); }

@media screen and (max-width: 1358px) {
  #polizas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); } }

@media screen and (max-width: 910px) {
  #polizas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr); }
  .imagen-logo-menu {
    height: 50px;
    display: flex;
    align-items: flex-start;
    margin-right: 16px; } }

@media screen and (min-width: 1777px) {
  #polizas {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); } }

/* seccion02 */
#companias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); }

.subtitulos-seccion02 {
  margin: 6px;
  color: #f0f0f0;
  font-size: 20px;
  text-align: center; }

@media screen and (max-width: 1358px) {
  #companias {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); } }

@media screen and (max-width: 910px) {
  #companias {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr); } }

@media screen and (min-width: 1777px) {
  #companias {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); } }

/* nosotros */
.mapa {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #142664; }

.ubi {
  margin: auto;
  width: 100%;
  height: 100%; }

.quien-somo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr; }
  .quien-somo p {
    display: flex;
    text-align: center;
    margin: 20px; }

@media screen and (max-width: 910px) {
  .mapa {
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
  .ubi {
    margin: auto;
    width: 100%;
    height: 100%; } }

@media screen and (min-width: 1071px) {
  .quien-somo {
    display: grid;
    grid-template-rows: 1fr 1fr; } }

/* contactarnos */
.a-encabezado {
  text-decoration: none;
  list-style: none; }
