@mixin card {
    background-color: map-get($colores, color-winkler);
    width: 400px;
    height: 500px;
    margin: 12px;transition: all ease 0.2s;
    border-top: solid 8px map-get($colores, color-winkler);
    border-right: solid 8px map-get($colores, color-winkler);

    &hover{transform:scale(1.05)}
}

@mixin header {
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: black solid;
    border-top: black solid;
    background-color: map-get($colores, blanco);
    margin-top: 20px;
    
}