.imagen-logo-menu {
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;

}

.tarjeta-winkler{
    width: 100%;
    height: auto;
    
    
}

.imagen-logo {
    display: flex;
    width: 100%;
    height: auto;
    
}

.foto-frente{
    margin-left: 30px;
    width: 700px;
    height: 453px;

    img{
        width: 550px;
        height: 300px;
        margin: 10px;
        margin-left: 70px;
    }
    
}

